<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590370444695-q8l7m5imjfb2fjgm4lde8t7palcbius6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590370444695-q8l7m5imjfb2fjgm4lde8t7palcbius6</string>
	<key>API_KEY</key>
	<string>AIzaSyBuezni34yoL8Q_HedM3h6VG3q0hJnnGTk</string>
	<key>GCM_SENDER_ID</key>
	<string>590370444695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adacapstones.hamstudybuddiez</string>
	<key>PROJECT_ID</key>
	<string>hamstudybuddiezyael-94b80</string>
	<key>STORAGE_BUCKET</key>
	<string>hamstudybuddiezyael-94b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590370444695:ios:026078558505962ba520d2</string>
</dict>
</plist>