<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951507492432-v2d1tv91cldphua59q0765p1gv240gc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951507492432-v2d1tv91cldphua59q0765p1gv240gc6</string>
	<key>API_KEY</key>
	<string>AIzaSyDznOrtsarJrTxP65uBtSwJoojf2EUZH5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>951507492432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adacapstones.hamstudybuddiez</string>
	<key>PROJECT_ID</key>
	<string>hamstudybudz-8bb72</string>
	<key>STORAGE_BUCKET</key>
	<string>hamstudybudz-8bb72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951507492432:ios:23fe61558ef57b2858bb55</string>
</dict>
</plist>