<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899857718448-jktj15hhs6nrrv0ohevkhf1mra27s50a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899857718448-jktj15hhs6nrrv0ohevkhf1mra27s50a</string>
	<key>API_KEY</key>
	<string>AIzaSyDGpscNqbRrtlQzwzWgHQsk5p78am2famI</string>
	<key>GCM_SENDER_ID</key>
	<string>899857718448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adacapstones.hamstudybuddiez</string>
	<key>PROJECT_ID</key>
	<string>hamstudybudsyvett</string>
	<key>STORAGE_BUCKET</key>
	<string>hamstudybudsyvett.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899857718448:ios:19608474061bb650fe2f75</string>
</dict>
</plist>