<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899857718448-f9toamdavee6d0g62fq4sj4r23envmos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899857718448-f9toamdavee6d0g62fq4sj4r23envmos</string>
	<key>API_KEY</key>
	<string>AIzaSyDGpscNqbRrtlQzwzWgHQsk5p78am2famI</string>
	<key>GCM_SENDER_ID</key>
	<string>899857718448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adacapstones.hamstudybuddiezyvett</string>
	<key>PROJECT_ID</key>
	<string>hamstudybudsyvett</string>
	<key>STORAGE_BUCKET</key>
	<string>hamstudybudsyvett.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899857718448:ios:77c7ab81fd8842ccfe2f75</string>
</dict>
</plist>